.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 34px;
    margin-right: 34px;
}

.logo {
    width: 250px;
    height: 65px;
}

.lishki {
    list-style: none;
    display: flex;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.li1 {
    padding: 0 50px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 49px;
    height: 24px;
    color: #030A1B;
}

.li {
    cursor: pointer;
    padding: 0 50px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 72px;
    height: 24px;
    color: #030A1B;
}

.menu {
    display: flex;
    justify-content: center;
}

.btn1 {
    width: 200px;
    height: 50px;
    background: #2E6EFF;
    border-color: #2E6EFF;
    border-radius: 10px;
    color: #fff;
}

.title {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
}

.text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-grid2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.security {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.img {
    width: 450px;
    height: 666px;
    border-radius: 10px;
    margin: 0px 40px 0 40px;
}

.icon {
    text-align: left;
}

.card2 {
    padding: 10px 50px 10px;
    text-align: left;
}