.underphoto {
    width: 362px;
    height: 321px;
    border-radius: 10px 10px 0px 0px;

}

.card {
    width: 362px;
    height: 553px;
    margin-bottom: 35px;
    border-radius: 10px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: white;
}

.price-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-button {
    margin-right: 8px;
}

