.underphoto {
    width: 362px;
    height: 321px;
    border-radius: 10px 10px 0px 0px;

}

.card {
    width: 362px;
    height: 553px;
    margin-bottom: 35px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.price-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-button {
    margin-right: 8px;
}

