.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.partners{
    display: flex;
    justify-content: space-around;
}

.big-picture{
    display: flex;
    justify-content: space-around;
}

.big-text-div{
    width: 558px;
}

.big-text{
    font-size: 61px;
    text-align: left;
}

.popular-prop{
    text-align: left;
    margin-left: 6%;
}