.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.partners {
    display: flex;
    justify-content: space-around;
}

.big-picture {
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}
    
.big-text-div {
    width: 558px;
}

.big-text {
    font-size: 61px;
    text-align: left;
}

.popular-prop {
    text-align: left;
    margin-left: 5%;
    margin-bottom: 70px;
}

.part {
    margin-bottom: 85px;
    margin-top: 65px;
}


.our-partners{
    margin-bottom: 4%;
}

.error-div{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.alert{
    width: 700px;
    height: 50px;
    font-size: 40px;
}