.detailed-text-photo{
    display: flex;
}

.detailed-text{
    width: 50%;
    text-align: left;
    line-height: 2;
    margin-left: 20px;
}

.detailed-photo{
    width: 50%;
}

.title{
    font-size: 32px;
    font-weight: 600;
}

.other-about{
    font-size: 24px;
    font-weight: 400;
}

.button-div{
    display: flex;
    justify-content: end;
    margin-right: 5%;
}

.detailed-btn{
    width: 135px;
    height: 60px;
    background: rgba(46, 110, 255, 1);
    border-radius: 5px;
    border: none;
    color: white;
}