.slider-div {
  border: 2px solid rgba(250, 102, 43, 0.1);
  border-radius: 10px;
}

.card-comment {
  padding: 20px;
}

.person-name-job {
  display: block;
  flex-direction: row;
  margin-left: 2%;
}

.pre-slider-cont {
  display: flex;
}

.slider-container {
  width: 90%;
  margin: 0 auto;
}

.slick-slide > div {
  /* margin: 0 200px; */
  margin: 0 22%;
}

.slick-list {
  margin: 0 -3%;
}

.person {
  display: flex;
}

.person-img {
  margin-top: 20px;
  margin-left: 20px;
}
